ion-content ion-toolbar {
  --background: translucent;
}

#title_tab2{
  font-size: 1.2rem;
  text-align: center;
  font-weight: 900;
  padding-bottom: 1rem;
  border-bottom: .01rem solid #fff;
}

#subtitle_tab2 {
  font-size: 1rem;
  text-align: center;
  color: #aaaaaa;
}

#label_tab2 {
  font-size: 2rem;
}


#btn_tab2 {
  display: block;
  width: 100%;
  height: 3rem;
  font-size: 1.3rem;
  letter-spacing: 3px;
  font-weight: 600;
  margin-top: 1rem;
  color: #fff;
}

.btn_tab1.voted {
  display: none;
}



